.course {
    font-size: 1em;
    width: 100%;
    padding: 1.5em;

    border: 1px solid var(--courseBorder);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.course-text {
}

.course-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 25px;
}

.course-content {
    font-size: 0.9em;
    line-height: 125%;
}

.course-info {
    font-size: .8em;
    flex: 0 0 33%;
}

.course-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    margin-bottom: 25px;
}

.course-item {
    line-height: 150%;
}

.course-button {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}
