.header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    border: 2px solid red;
    padding: 1em 2em;
}

.header-logo {
    flex-grow: 1;
    height: 3.5em;

}

.header-name {

}

.header-button {

}
